    /*-------------'Poppins', sans-serif----'Montserrat Alternates', sans-serif-----'Farsan', cursive;------*/
    
    .fsT_txt {
        font-size: 18px;
        color: #262626!important;
        letter-spacing: 1.5px;
        word-spacing: 5px;
        font-family: 'Poppins', sans-serif;
        padding: 0 0!important
    }
    .fsT_txt2 {
        font-size: 17px;
        font-weight: 400;
        color: #262626!important;
        letter-spacing: .8px;
        /*word-spacing: 5px;*/
        font-family: 'Poppins', sans-serif;
    }
    .fsT_txt4 {
        font-size: 16px;
        font-weight: 600;
        color: #fff!important;
        letter-spacing: .8px;
        /*word-spacing: 5px;*/
        font-family: 'Poppins', sans-serif;
    }
    .fsT_txt3 {
        font-size: 17px;
        font-weight: 200;
        color: black;
        letter-spacing: .2px;
        word-spacing: 3px;
        font-family: 'Overpass', sans-serif;
    }
    /*.fsT_txt4 {
    font-size: 12px;
    font-weight: 700;
    color: black;
    letter-spacing: 1.2px;
    word-spacing: 3px;
    font-family: 'Overpass', sans-serif;
}*/
    
    .fsT_txth {
        font-size: 19px;
        font-weight: 300;
        color: hotpink;
        letter-spacing: .8px;
        word-spacing: 3px;
        font-family: 'Overpass', sans-serif;
    }
    /*-------------------3---*/
    
    .fsT_txth2 {
        font-size: 16px;
        font-weight: 400;
        word-spacing: 3px;
        color: hotpink;
        letter-spacing: 1.3px;
        font-family: 'Oswald', sans-serif;
    }
    .fsT_small1 {
        font-size: 15px;
        font-weight: 400;
        color: #262626;
        letter-spacing: .9px;
        font-family: 'Slabo 27px', serif;
        margin-top: 8px;
    }
    .fsT_small2 {
        font-size: 15px;
        font-weight: 800;
        color: #262626;
        letter-spacing: 1.3px;
        word-spacing: 3px;
        font-family: 'Overpass', sans-serif;
        margin-top: 8px;
    }
    .fsT_bg-pink {
        background-color: rgba(13, 13, 13, 0.68)!important;
    }
    .fsT_logo {
        font-size: 43px;
        font-family: 'Poppins', sans-serif;
        font-weight: 600;
        letter-spacing: 17px;
        color: #fff!important;
    }
    .fsT_st {
        background: #ff008ca6!important;
        padding: 5px 11px!important;
        box-shadow: -4px 5px 6px #00000042;
    }
    .fsT_bxs {
        box-shadow: -4px 5px 6px #00000042;
        border-top: 1px solid #00000008;
        border-right: 1px solid #00000003;
    }
    /*---------contact us start-----------*/
    
    .container .box {
        position: relative;
        /* width: 300px;*/
        /*  height: 100px;*/
        box-sizing: border-box;
        text-align: center;
        margin: 0 10px;
        /* background: #00171d;*/
        /* border: 0px;*/
        overflow: hidden;
        /*  border-radius: 0px;
    box-shadow: 0 0 0 2px rgba(0, 7, 10, 1);*/
    }
    .container .box .icon {
        width: 100%;
        height: 100%;
        background: #ffffff;
        transition: 0.5s;
    }
    .container .box .icon .fa {
        font-size: 25px;
        line-height: 100px;
        color: #262626;
    }
    .container .box:hover .icon {}
    .container .box .details {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        /*background: #fff;*/
        transition: 0.5s;
        color: #262626;
        /*transform: scale(2);*/
        opacity: 1;
    }
    /*.container .box:hover .details {
    transform: scale(1);
    opacity: 1;
}*/
    
    .container .box .details h3 {
        margin: 0;
        padding: 0;
        /*line-height: 100px;*/
        font-size: 14px;
        color: #262626;
        font-family: 'Montserrat Alternates', sans-serif!important;
        letter-spacing: 1.2px;
        font-weight: 600;
    }
    /*---------contact us end-----------*/
    
    .fsT_hd1 {
        word-spacing: 2px!important;
        letter-spacing: .9px!important;
        font-family: 'Montserrat Alternates', sans-serif!important;
        font-weight: 600;
        font-size: 40px;
        color: orange;
    }
    .fsT_hd2 {
        word-spacing: 8px!important;
        letter-spacing: .9px!important;
        font-family: 'Farsan', cursive!important;
        font-weight: 600;
        font-size: 60px;
        color: orange;
    }
    .fsT_sh {
        word-spacing: 2px!important;
        letter-spacing: 1px!important;
        font-family: 'Farsan', cursive!important;
        font-weight: 400;
        color: orange;
        font-size: 22px;
    }
    .fsT_footer {
        font-size: 13px!important;
        font-weight: 600!important;
        letter-spacing: .7px!important;
        font-family: 'Farsan', cursive!important;
        box-shadow: 7px 1px 13px #00000036;
        padding: 3px 0;
    }
    .fsT_py2 {
        padding: 76px 0!important;
    }
    /*#carouselExampleIndicators {
    background-color: black!important;
}*/
    
    .fsT_min300 {
        min-height: 300px;
    }
    .fsT_m400 {
        min-height: 461px;
    }
    .carousel-indicators li {
        width: 20px!important;
        height: 20px!important;
        border: 2px solid orange;
        border-radius: 50%;
        background-color: orange!important;
    }
    .carousel-indicators .active {
        background-color: rgba(11, 10, 10, 0.38)!important;
    }
    .fsc_min132 {
        min-height: 232px;
    }
    .fsT_min50 {
        min-height: 100px;
    }
    .fsT_bg-clr1 {
        background: rgba(0, 0, 0, 0.9)!important;
        color: #fff;
    }
    .bg-brwn {
        background: rgba(0, 0, 0, 0.6);
    }
    .fsT_bg1 {
        background-color: #010155;
        color: #fff;
    }
    .fsT_bg2 {
        background-color: rgba(0, 0, 0, 0.68);
        color: #fff;
    }
    .fsT_min400 {
        min-height: 550px;
    }
    .fsT_card {
        background-color: transparent!important;
    }
    svg {
        overflow: hidden;
        vertical-align: middle;
        padding: 6px;
        color: hotpink;
        border: 3px solid;
        margin: 5px;
        box-shadow: 2px 2px 3px black;
    }
    .fsc_min60 {
        min-height: 60px;
    }
    .fsT_min300 {
        min-height: 400px;
    }
    .fsc_min260 {
        min-height: 130px;
    }
    .fsT_min200 {
        min-height: 200px;
    }
    .fsT_px1 {
        padding: 0px 65px;
    }
    .fsT_btn {
        color: orange;
        font-weight: 400;
        background: #262626!important;
        border-radius: 0px!important;
        box-shadow: 1px 2px 5px #ff00ec63;
        letter-spacing: .8px;
        font-family: 'Montserrat Alternates', sans-serif!important;
    }
    .nav-pills {
        /* color: orange!important;*/
        background-color: #212529!important;
        border-radius: 0px!important;
        font-weight: 700!important;
        letter-spacing: 2px!important;
        font-size: 23px!important;
        font-family: 'Farsan', cursive!important;
    }
    /*  label {
        font-family: 'Poppins', sans-serif;
        font-weight: 600!important;
        letter-spacing: 1.3px!important;
        word-spacing: 3px!important;
    }*/
    
    .form-control {
        border: 1px solid #f00df040!important;
        border-radius: 0px!important;
    }
    .fsT_black {
        background-color: #262626!important;
    }
    .fsT_fff {
        background-color: #fff!important;
    }
    @media only screen and (min-width: 0px) and (max-width: 750px) {
        .fsT_px1 {
            padding: 0px 0px;
        }
        .m_mt_107 {
            margin-top: 107px;
        }
        .m_mt_50 {
            margin-top: 50px;
        }
        .m_mt15 {
            margin-top: 15px;
        }
    }
    .content {
        /*   background: #28a745;
   width: 70%;*/
    }
    .content .form-content {
        /*     padding: 0 10%;*/
    }
    .content .form-content .input-group .input-group-text {
        background: #333;
        color: #fff;
        border: none;
        border-radius: 0;
        font-family: 'Poppins', sans-serif;
        font-weight: 600!important;
        letter-spacing: 1.3px!important;
        word-spacing: 3px!important;
    }
    .content .form-content .input-group input {
        border-radius: 0;
    }
    .content .form-content .input-group input:focus {
        border-color: transparent;
    }
    .content .form-content h4 {
        margin-bottom: 5%;
    }
    .content .form-content button {
        background: #333;
        color: #fff;
        border-radius: 0;
        width: 50%;
        font-weight: 600;
    }
    .nav-pills .nav-link {
        border-radius: 0px!important;
        margin: 0 3px;
    }
    .carousel-control-next,
    .carousel-control-prev {
        width: 8%!important;
        text-align: center;
        opacity: 1!important;
    }
    .carousel-indicators {
        bottom: -11px!important;
    }
